<footer>

 <div class="footer_ul">

        <ul class="ul_footer">
            <li class="first-color">Fivespark Sparks</li>
            <li>Managed services</li>
            <li>Software development</li>
            <li>Connectiviteit</li>
            <li>Hardware</li>
            <li>Adoptie</li>
        </ul>

        <ul class="ul_footer">
            <li class="first-color">Heb je dit al bekeken?</li>
            <li>Onze laatste blog</li>
            <li>Pers</li>
        </ul>

        <ul class="ul_footer">
            <li class="first-color">Contact Ons</li>
            <li>Klantenportaal</li>
            <li>Telefoon</li>
            <li>Email</li>
            <li>FAQ</li>
        </ul>


          <ul class="ul_footer">
            <li class="first-color">Volg Ons</li>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>Instagram</li>
            <li>Linkedin</li>
        </ul>


    </div>


</footer>

</body>

</html>