<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fivespark</title>
    <link rel="shortcut icon" href="https://fivespark.com/hubfs/favicon.svg" />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css"
    />
  </head>

  <div class="banner">
    <p class="verzending_banner">WEBSHOP</p>
    <!-- <p class="verzending_banner">088 - 411 00 33</p> -->
  </div>

  <section class="top-nav">
    <div>
      <a href="/"
        ><img
          class="fivespark-logo"
          src="/Fivespark_so.png"
          alt="fivesparklogo"
      /></a>
    </div>
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <ul class="menu">
      <li>De digitale werkplek</li>
      <li>Klanten</li>
      <li>Kennis</li>
      <li>Over Ons</li>
      <li>Plan een Demo</li>
    </ul>
  </section>
</html>
