<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Fivespark</title>
    <link rel="shortcut icon" href="https://fivespark.com/hubfs/favicon.svg">
    <link rel="stylesheet" href="/style/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/css/swiper.min.css'>
    </head>

      <div class="banner">
    <p class="verzending_banner">
      AANKOOP
    </p>
  </div>

    <header>
    <nav class="nav-bar">
      <a href="/"
        ><img class="vinimini-logo" src="/Logo-vini.png" alt="viniminilogo"
      /></a>

      <ul>
        <li><a href="/alleproducten">Producten</a></li>
        <li><a href="/test">Doe de test</a></li>
        <li><a href="#">Over ons</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <div class="icon">
        <img src="/shopping-cart.svg" alt="iconshoppingcar" />
        <a href="/inloggen"><img src="/user.svg" alt="iconuser" /></a>

        <div class="dropdown">
          <button class="dropbtn">
            <a href="#"><img src="/menu-icon.png" /></a><span> </span>
          </button>

          <div class="dropdown-content">
            <p><a href="/alleproducten">Producten</a></p>

            <p><a href="/test">Doe de test</a></p>

            <p><a href="/#">Over ons</a></p>

            <p><a href="/#">Contact</a></p>
          </div>
        </div>

      </div>
    </nav>
  </header>