* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

/* -----CUSTOM PROPERTIES----- */

:root {
  --Geel: #ffc200;
  --Black: #000000;
  --Wit: #ffff;
  --Donker-grijs: #404040;
  --Licht-grijs: #BFBFBF;
}

